.arrow{
  fill:red;
  stroke:red;
}

.arrow-down{

}
.arrow-down:hover{
  transform: translateY(-20px);
}

.arrow-right{
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.arrow-right:hover{
  transform: rotate(-90deg) translateY(-20px);
  transform-origin: 50% 50%;
}

.arrow-left{
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
.arrow-left:hover{
  transform: rotate(90deg) translateY(-20px);
  transform-origin: 50% 50%;
}

.arrow-up{
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
.arrow-up:hover{
  transform: rotate(180deg) translateY(-20px);;
  transform-origin: 50% 50%;
}
