.waitingForMatch
{
  position: absolute;
  top: 15px;
  z-index: 2;
  overflow: hidden;
  background: hsla(360, 100%, 100%, 0.5);;
  border: 2px;
  margin: 0 auto;
  left:0;
  right:0;
  bottom: 15px;
}

.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
