<ion-view>
    <ion-content>
        <h1>This is a game.</h1>
        <svg width="285" height="285" style="display:block;margin:auto;">
            <g ng-repeat="x in [0, 1, 2, 3, 4, 5, 6]">
                <rect ng-repeat="y in [0, 1, 2, 3, 4, 5, 6]"
                      stroke-width="1px";
                      stroke="#CCC";
                      shape-rendering="crispEdges"
                      width="40" height="40" fill="#FFF"
                      ng-attr-x="{{x * 40}}" ng-attr-y="{{y * 40}}"></rect>
            </g>
        </svg>

        <button ng-click="back()" class="button button-full button-positive">
            Back
        </button>
    </ion-content>
</ion-view>
