<ion-view>
    <h1 class="title">Quadtrix</h1>
    <div class="row row-center" style="height:100px" ng-hide="waitingForMatch || editSettings">
        <a href="#/game" class="center">
            <button class="button button-full button-transparent">
                Play game
            </button>
        </a>
    </div>
    <div class="row row-center" style="height:100px" ng-hide="waitingForMatch || editSettings">
      <a href="#" class="center" ng-click="matchRequest()">
        <button class="button button-full button-transparent">
            Play online
        </button>
      </a>
    </div>
    <div class="row row-center" style="height:100px" ng-hide="waitingForMatch || editSettings">
        <a href="#" class="center" ng-click="editSettings = true">
            <button class="button button-full button-transparent">
                Settings
            </button>
        </a>
    </div>
    <div class="row row-center center" ng-show="waitingForMatch">
      <h2 style="margin-top:2em; margin-bottom:1em">Searching</h2>
      <ion-spinner icon="spiral"></ion-spinner>
    </div>
    <div class="row row-center" style="height:100px" ng-show="waitingForMatch">
      <a href="#" class="center" ng-click="cancelRequest()">
        <button class="button button-full button-transparent">
            Cancel Search
        </button>
      </a>
    </div>
    <div class="row row-center center">
      <form ng-show="editSettings">
           <div>
             <div class="item item-input">
               <span class="input-label">Player Name</span>
               <input ng-model="yourName" type="text">
             </div>
             <div class="item item-input">
               <span class="input-label">Coins to solve</span>
               <input ng-model="coinsToSolve" type="text">
             </div>
             <button class="button button-full button-positive" ng-click="save()">Save</button>
           </div>
       </form>
    </div>
    <br><br>
    <div class="row row-center" style="position:absolute;bottom: 10px;">
        <button class="button button-full button-transparent" style="font-size:20px;">
           {{usercount}} player online
        </button>
    </div>
</ion-view>
