<ion-view>
    <h1 class="title" onclick="generateBackground()">Quadrix</h1>
    <div class="row row-center" style="height:100px">
        <a href="#/game" class="center">
            <button class="button button-full button-transparent">
                Start Game
            </button>
        </a>
    </div>
    <div class="row row-center" style="height:100px">
        <button class="button button-full button-transparent">
            Play with friend
        </button>
    </div>
    <div class="row row-center center" style="height:100px">
      <form id="settings">
          <fieldset class="center">
              <legend>Gamesettings</legend>

              <label for="name">Name:</label><input name="name" id="name" placeholder="yourname" value="{{map.players.you.name}}">
              <br><br>
              <label for="c2s">
                  Coins 2 Solve:
              </label><input name="c2s" id="c2s" placeholder="3" value="{{map.coinsToSolve}}">

           </fieldset>
      </form>
    </div>
    <br><br>
    <div class="row row-center" style="height:100px">
        <button class="button button-full button-transparent">
           {{usercount}} player online
        </button>
    </div>
</ion-view>
