<ion-view>
    <h1 class="title">Quadrix</h1>
    <div class="row row-center" style="height:100px" ng-hide="waitingForMatch">
        <a href="#/game" class="center">
            <button class="button button-full button-transparent">
                Start Game
            </button>
        </a>
    </div>
    <div class="row row-center" style="height:100px" ng-hide="waitingForMatch">
      <a href="#" class="center" ng-click="matchRequest()">
        <button class="button button-full button-transparent">
            Play with friend
        </button>
      </a>
    </div>
    <div class="row row-center center" ng-show="waitingForMatch">
      <h2 style="margin-top:2em; margin-bottom:1em">Searching</h2>
      <ion-spinner icon="spiral"></ion-spinner>
    </div>
    <div class="row row-center" style="height:100px" ng-show="waitingForMatch">
      <a href="#" class="center" ng-click="cancelRequest()">
        <button class="button button-full button-transparent">
            Cancel Search
        </button>
      </a>
    </div>
    <div class="row row-center center" style="height:100px">
      <form id="settings" ng-hide="waitingForMatch">
          <fieldset class="center">
              <legend>Gamesettings</legend>
              <label for="name">Name:<input name="name" id="name" name="yourName" placeholder="your name" ng-model="yourName" ng-change="change()">
              </label>

              <br><br>
              <label for="c2s">
                  Coins 2 Solve:<input name="c2s" id="c2s" placeholder="3" name="coinsToSolve" ng-model="coinsToSolve" ng-change="change()">
              </label>

           </fieldset>
       </form>
    </div>
    <br><br>
    <div class="row row-center" style="height:100px">
        <button class="button button-full button-transparent">
           {{usercount}} player online
        </button>
    </div>
  <!--  <div class="waitingForMatch animate-hide" ng-show="waitingForMatch"><h1>Waiting</h1></div>-->

</ion-view>
